################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.pdb
/ICH.Sugar/obj
/ICH.Sugar/bin/Debug/netcoreapp2.0
/ICH.Steward.WebAPI/bin/Debug/netcoreapp2.0
/ICH.Steward.WebAPI/obj
/ICH.Steward.Domain/obj
/ICH.Steward.Domain/bin/Debug/netcoreapp2.0
/ICH.Core/bin/Debug/netcoreapp2.0
/ICH.Core/obj
